.posted__comment
  .comment__header
    .comment__header__creator
      - @comments.each do |comment|
        .comment__header__creator__info
          .comment__header__creator__info__username
            = comment.user.nickname
        .comment__text
          .comment__text__area
            = comment.text
