.allWrapper
  = render 'shared/header'
  .main
    .container
      .article
        .article__header
          .article__header__info
            .article__header__info__name
              %p 優
            .article__header__info__time
              %p 9:30
          %h1.article__header__title
            タイトル
        .article__body
