.allWrapper
  = render 'shared/header'
  .main
    .container
      .article
        .article__header
          .article__header__info
            .article__header__info__name
              %p 優
        .article__body
