.allWrapper
  = render 'shared/header'
  .main
    .container
      .article
        .article__header
          .article__header__info
            = link_to class: 'article__header__info__name' do
              = @article.user.nickname
            .article__header__info__time
              %p 9:30
          %h1.article__header__title
            タイトル
        .article__body
          %p こんにちは今日はいい天気ですね！
