.allWrapper
  = render 'shared/header'
  .main__container
    .user__profile
      .user__profile__avatar
        = image_tag "", class: 'user__profile__avatar__image'
      .user__profile__header
        %h3.user__profile__header__fullname
          = "岡村 優"
