.article__list
  .article__item
    %a.article__item__userimage{href: "/"}
      %img{src: "/"}/
    .article__item__body
      %a.article__item__body__title{href: "/"}
        インフラエンジニアと謎のサーバー
      .article__item__body__meta
        by okamura
  .article__item
    %a.article__item__userimage{href: "/"}
      %img{src: "/"}/
    .article__item__body
      %a.article__item__body__title{href: "/"}
        インフラエンジニアと謎のサーバー
      .article__item__body__meta
        by okamura
