.header
  .header__contents
    .header__contents__left
      %a.header__contents__left__logo{href: "/"}
        %svg{viewbox: "0 0 75 25", xmlns: "http://www.w3.org/2000/svg"}
          %title Qiita
          %path{d: "M 24.6 12.2 C 24.6 6.2 20 0 12.2 0 C 6.2 0 0 4.6 0 12.4 c 0 6 4.6 12.2 12.4 12.2 c 2.5 0 5 -0.8 7.1 -2.3 l 3.6 3.6 l 1.6 -1.6 l -3.4 -3.4 c 2.1 -2.3 3.3 -5.3 3.3 -8.7 Z m -12.4 -10 c 5.7 0 10.2 4.4 10.2 10.1 c 0 4.9 -3.8 10.1 -10.1 10.1 s -10.1 -5.1 -10.1 -10 c 0 -6.4 5.1 -10.2 10 -10.2 Z M 30.5 7.1 h 2.1 v 17 h -2.1 Z M 31.5 4.8 c -1 0 -1.8 -0.8 -1.8 -1.8 s 0.8 -1.8 1.8 -1.8 s 1.8 0.8 1.8 1.8 s -0.8 1.8 -1.8 1.8 Z M 40 4.8 c -1 0 -1.8 -0.8 -1.8 -1.8 S 39 1.2 40 1.2 s 1.8 0.8 1.8 1.8 S 41 4.8 40 4.8 Z M 39 7.1 h 2.1 v 17 H 39 Z M 53.7 24.4 c -3.9 0 -6.2 -3 -6.2 -6 v -16 h 2.1 v 4.7 H 57 v 2.1 h -7.4 v 9.3 c 0 1.9 1.5 3.9 4.1 3.9 c 0.7 0 1.4 -0.2 2 -0.6 l 0.2 -0.1 l 1 1.8 l -0.2 0.1 c -0.9 0.5 -2 0.8 -3 0.8 Z M 67.6 24.5 c -5.7 0 -9.1 -4.5 -9.1 -8.9 c 0 -5.7 4.5 -9.1 8.9 -9.1 c 2.3 0 4.1 0.8 5.4 2.3 V 7.1 h 2.1 v 17 h -2.1 v -1.9 c -1.2 1.5 -3 2.3 -5.2 2.3 Z m -0.2 -15.9 c -3.4 0 -6.8 2.6 -6.8 7 c 0 3.4 2.6 6.8 7 6.8 c 2 0 4 -0.9 5.3 -2.5 v -8.8 c -1.4 -1.6 -3.3 -2.5 -5.5 -2.5 Z"}
      %div
        .header__contents__left__serector
          %span.fas.fa-caret-down
      %div
        .header__contents__left__home
          ホーム
          %span.fas.fa-caret-down
      %div
        .header__contents__left__community
          コミュニティ
          %span.fas.fa-caret-down
      %form.header__contents__left__search
        %span.fa.fa-search
        %input.header__contents__left__search__input{placeholder: "キーワードを入力"}/
    .header__left__search__button
  .header__right
    %a.header__right__stock{href: "/"}
      %span.fa.fa-fw.fa-folder-open
      ストック一覧
    %a.header__right__post{href: "/"}
      %span.fa.fa-fw.fa-pencil-square-o
      投稿する
    .notifications
      0
    - unless user_signed_in?
      %a.header__right__signup{href: "/"}
        ユーザー登録
      %a.header__right__login{href: "/"}
        ログイン
