.article__item {
  display: flex;
  width: 96.5%;
  font-size: .6rem;
  border-bottom: 1px solid #e8e8e8;
  padding: 16px;
  &__userimage {
    display: flex;
    overflow: hidden;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    margin-top: 2px;
    margin-right: 8px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__body {
    &__title {
      color: #777;
      display: inline-block;
      font-size: 1rem;
      font-weight: 700;
      margin-bottom: 4px;
      color: inherit;
      line-height: 1.4;
    }
    &__meta {
      display: flex;
      align-items: center;
      color: #999;
      font-size: .5rem;
    }
  }
}

.editor {
  position: absolute;
  top: 51px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f8faf7;
  &__form {
    margin: 0;
    .editor__content {
      position: absolute;
      top: 5px;
      right: 5px;
      bottom: 0;
      left: 5px;
      .editor__title {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        height: 70px;
        .form__control {
          border: 1px solid #ddd;
          box-sizing: border-box;
          font-size: 24px;
          height: 100%;
          display: block;
          width: 100%;
          line-height: 1.42857;
          color: #555;
          background-color: $white;
          border-radius: 3px;
        }
      }
      .editor__body {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        top: 86px;
        bottom: 40px;
        box-sizing: border-box;
        border-radius: 3px;
        border: 1px solid #ddd;
        &__text {
          display: inline-block;
          width: 100%;
          height: 100%;
          &__area {
            box-sizing: border-box;
            border-radius: 3px;
            width: 100%;
            height: 100%;
            outline: 0;
            display: block;
            margin-bottom: 0;
            padding: 10px;
            border: 0;
            color: #222;
            line-height: 1.5;
            font-size: 24px;
            resize: none;
            overflow: auto;
          }
        }
      }
    }
    .editor__footer {
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 41px;
      box-sizing: border-box;
      padding: 4px 10px;
      background: #eee;
      border-top: 1px solid #ddd;
      &__save {
        float: right;
        .image__picker {
          color: #b3b3b3;
          float: left;
          font-size: 24px;
          margin: 0 3.6px;
          text-align: center;
          width: 28.8px;
          position: relative;
          .footer__image {
            display: none;
          }
          .fa {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
          }
        }
        &__submit {
          border-radius: 3px;
          color: $white;
          background-color: #59bb0c;
          border-color: #4ea30a;
          display: inline-block;
          margin-bottom: 0;
          font-size: 400;
          text-align: center;
          vertical-align: middle;
          cursor: pointer;
          border: 1px solid transparent;
          font-size: 20px;
        }
      }
    }
  }
}

.main {
  background-color: #f6f6f6;
  .container {
    padding-bottom: 40px;
    padding-top: 24px;
    max-width: 1000px;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    .article {
      background-color: $white;
      padding: 32px;
      &__header {
        color: #333;
        margin-bottom: 40px;
        &__info {
          margin-bottom: 24px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: flex-start;
          width: 100%;
          &__name {
            display: flex;
            align-items: center;
            margin-right: 16px;
          }
          &__time {
            color: #999;
            font-size: 1rem;
            margin-right: 16px;
          }
        }
      }
      &__body {
        font-size: 1.2rem;
        color: #333;
      }
    }
  }
}
