
.home {
  padding: 32px 16px 0 16px;
  &__contents {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    max-width: 1100px;
    margin: 0 auto;
    &__menu {
      padding-top: 8px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 200px;
      position: sticky;
      top: 1em;
      &__item {
        width: 92%;
        padding-left: 16px;
        padding: 8px;
        margin-bottom: 8px;
        position: relative;
        font-weight: 400;
        font-size: .7rem;
        color: $white;
        background-color: $light_green;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      &__item2 {
        width: 100%;
        color: #888;
        font-size: .7rem;
        font-weight: 700;
        text-decoration: none;
        padding-left: 16px;
        padding: 8px;
        margin-bottom: 8px;
        cursor: pointer;
      }
    }
    &__main {
      margin-bottom: 24px;
      background-color: $white;
      border: 1px solid transparent;
      width: 0;
      min-width: 0;
      flex-grow: 1;
      .article__list__header {
        align-items: center;
        line-height: 1;
        padding: 16px;
        padding-bottom: 0;
        border-bottom: 1px solid #e8e8e8;
        &__title {
          display: flex;
          align-items: center;
          &__label {
            font-size: 1rem;
            margin-right: 8px;
          }
          &__sublabel {
            font-size: .7rem;
            color: #aaa;
          }
        }
        &__itemlist__tab {
          display: flex;
          margin-top: 24px;
          width: 100%;
          &__item {
            display: block;
            width: 100%;
            text-align: center;
            font-size: .7rem;
            color: #999;
            cursor: pointer;
            text-decoration: none;
            padding-bottom: 12px;
          }
        }
      }
    }
  }
}

