.sessions {
  font-size: 14px;
  line-height: 1.4;
  color: #4a4a4a;
  background-color: $white;
  .container {
    width: 740px;
    margin-right: auto;
    margin-left: auto;
    .row {
      margin-left: 8.3%;
      width: 83%;
      .sessions__title {
        margin: 30px 0;
        letter-spacing: 1px;
        font-size: 36px;
        font-weight: 400;
        text-align: center;
        h2 {
          border-bottom: 1px solid #eee;
          padding-bottom: 40px;
        }
      }
      .sessions__layout__form {
        margin-left: 150px;
        overflow: hidden;
        width: 100%;
        .form__group {
          margin-bottom: 15px;
          .form__control {
            display: block;
            width: 50%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.4;
            color: #555;
            border-radius: 3px;
          }
          .help__block {
            margin-top: 5px;
            margin-bottom: 10px;
            display: block;
            color: #8a8a8a;
            .help__link {
              color: #337ab7;
              text-decoration: none;
              background-color: transparent;
              cursor: pointer;
            }
          }
          .btn {
            width: 55%;
            margin-top: 20px;
            color: $white;
            background-color: #59bb0c;
            border-color: #4ea30a;
            display: block;
            padding: 10px 16px;
            font-size: 18px;
            line-height: 1.3;
            border-radius: 3px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.main__container {
  background-color: #fff;
  margin-top: 20px;
  width: 1000px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  align-items: center;
  .user__profile {
    width: 25%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    &__avatar {
      margin-bottom: 20px;
      width: 180px;
      height: 180px;
      &__image {
        display: inline-block;
        line-height: 1;
        vertical-align: middle;
        border-radius: 6px;
        overflow: hidden;
        width: 100%;
        height: 100%;
      }
    }
  }
}
