.sessions {
  font-size: 14px;
  line-height: 1.4;
  color: #4a4a4a;
  background-color: $white;
  .container {
    width: 740px;
    margin-right: auto;
    margin-left: auto;
    .row {
      margin-left: 8.3%;
      width: 83%;
      .sessions__title {
        margin: 30px 0;
        letter-spacing: 1px;
        font-size: 36px;
        font-weight: 400;
        text-align: center;
        h2 {
          border-bottom: 1px solid #eee;
          padding-bottom: 40px;
        }
      }
      .sessions__layout__form {
        margin-left: 150px;
        overflow: hidden;
        width: 100%;
        .form__group {
          margin-bottom: 15px;
          .form__control {
            display: block;
            width: 50%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.4;
            color: #555;
            border-radius: 3px;
          }
          .help__block {
            margin-top: 5px;
            margin-bottom: 10px;
            display: block;
            color: #8a8a8a;
            .help__link {
              color: #337ab7;
              text-decoration: none;
              background-color: transparent;
              cursor: pointer;
            }
          }
          .btn {
            width: 55%;
            margin-top: 20px;
            color: $white;
            background-color: #59bb0c;
            border-color: #4ea30a;
            display: block;
            padding: 10px 16px;
            font-size: 18px;
            line-height: 1.3;
            border-radius: 3px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.main__container {
  background-color: #fff;
  margin-top: 20px;
  width: 1000px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  align-items: center;
  .user__profile {
    width: 25%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    &__avatar {
      margin-bottom: 20px;
      width: 180px;
      height: 180px;
      &__image {
        display: inline-block;
        line-height: 1;
        vertical-align: middle;
        border-radius: 6px;
        overflow: hidden;
        width: 100%;
        height: 100%;
      }
    }
    &__header {
      margin-bottom: 16px;
      &__fullname {
        margin: 0 0 3px;
        font-weight: 700;
        font-size: 24px;
      }
      &__name {
        font-size: 16px;
        font-weight: 400;
        color: #999;
        margin: 0;
      }
    }
    &__info {
      margin-bottom: 12px;
      padding-top: 12px;
      border-top: 1px solid #eee;
      color: #444;
      &__body__text {
        padding: 0 0 6px;
        font-size: 13px;
        border-bottom: 1px solid #eee;
        padding-bottom: 12px;
        margin-bottom: 12px;
        line-height: 1.5;
      }
      &__body {
        padding: 0 0 6px;
        font-size: 13px;
        font: normal normal normal 14px/1 FontAwesome
      }
      &__body__edit {
        color: #999;
        font-size: 13px;
      }
    }
    &__info__body {
      padding: 0 0 6px;
      font-size: 13px;
      .user__profile__info__heading {
        font-weight: 700;
        margin-bottom: 10px;
        .user__profile__count {
          float: right;
          padding: 0 5px;
        }
      }
    }
  }
  .user__article {
    width: 75%;
    position: relative;
    align-items: center;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    &__activity {
      &__chart {
        max-height: 270px;
        position: relative;
        height: 150px;
        width: 100%;
      }
      &__start {
        margin: 0 0 10px;
        text-align: center;
        .item {
          background: #eee;
          border-bottom: 1px solid #d5d5d5;
          border-left: 1px solid #d5d5d5;
          border-right: 1px solid #d5d5d5;
          border-top: 3px solid #59bb0c;
          color: #3c3c3c;
          cursor: pointer;
          padding-bottom: 15px;
          padding-top: 10px;
          width: 28%;
          float: left;
          position: relative;
          min-height: 1px;
          padding-left: 10px;
          padding-right: 10px;
          text-decoration: none;
          &__count {
            font-size: 2em;
            font-weight: 700;
          }
          &__label {
            font-size: 1em;
            line-height: 1em;
          }
        }
        .contribution {
          background: #eee;
          border-bottom: 1px solid transparent;
          border-left: 1px solid transparent;
          border-right: 1px solid transparent;
          border-top: 3px solid #ccc;
          color: #555;
          cursor: pointer;
          padding-bottom: 15px;
          padding-top: 10px;
          width: 28%;
          float: left;
          position: relative;
          min-height: 1px;
          padding-left: 10px;
          padding-right: 10px;
          text-decoration: none;
          &__count {
            font-size: 2em;
            font-weight: 700;
          }
          &__label {
            font-size: 1em;
            line-height: 1em;
          }
        }
      }
    }
  }
}
